*{
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 980px;
    margin: 0 auto;
}
.sidebar {
    float: left;
    width: 300px;
}
.content {
    float: left;
    width: 680px;
}
ul {
    list-style-type: none;
}
.category {
    padding-left: 20px;
}
